*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
  font-family: Arial, Helvetica, sans-serif;
}
div{
  width: 100%;
  height: 100vh;
  background: #8a44ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  width: 50%;
  padding: 10px 20px;
  border: none;
  outline: none;
  margin: 20px 0;
  text-align: center;
}
button{
  line-height: 24px;
  padding: 0px 20px;
  background: gray;
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
h1{
  background: transparent;
  color: #fa9091;
  text-shadow: 0 2px 2px black;
}
button:hover{
  background: green;
}
form input{
  width: 300px;
}
